
a {
  text-decoration: none;
  color: #3071a9;
}

body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
}


.row-container {
  /*width: 100%;*/
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: flex-start;
}

.row-item{
  flex: 0 1 auto
}

.column-item{
  flex: 0 1 auto
}

.column-container {
  min-width: 30rem;
  max-width: 40rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: flex-start;
}

#top_pane{
  z-index: 10;
  position: relative;
  background-color: white;
  padding-bottom: 1rem;

  transition: height .5s ease-in-out;
}

#bottom_pane{
  z-index: 0;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;


  transition: top .5s ease-in-out;
}

#pane-separator {
  z-index: 10;
  position: relative;
  /*background-color: white;*/
  margin-top: 0;
  /*margin-bottom: 0;*/
  height: 12px;
  border: 0;

  transition: box-shadow 0.5s linear;
}

.margin-bottom-zero{
  margin-bottom: 0;
  padding-bottom: 0;
}
.margin-top-zero{
  margin-top: 0;
}


#displayAsForm {
  /*position: relative;*/
  text-align: left;
  vertical-align: bottom;
  /*left: 20rem;*/
  /*top: 3rem;*/
}

.stats_title {
  font-size: xx-large;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.stats_subtitle {
  font-size: x-large;
  margin-bottom: 1rem;
}

.references {
  font-size: 90%;
}

.row-line {
  border-top-width: thin;
  border-top-style: solid;
  border-top-color: #72777d;
  width: 100%;
}

.answer-equals {
  text-align: center;
  min-width: 5rem;
  /*min-width: 3rem;*/
  padding: 0 0 0 0;
  margin: 0;
  flex: 0 1 auto;
}

.answer-value {
  width: 5rem;
  text-align: right;
  font-size: large;
  padding-top: 1rem;
  flex: 0 1 auto;
  /*text-after-overflow: right;*/
}

.data-metric {
  flex: 0 1 auto;
  border-collapse: collapse;
  font-size: small;
  width: 30rem;
  /*max-width: 30rem;*/
  margin: 0;
  padding: 0;
  /* Row container: */
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: flex-start;
}

/* Makes the first column stretch. */
.data-metric-def {
  width: 20rem;
  padding: 0;
  margin: 0;
  flex: 0 1 auto;
}

dt {
  font-weight: bold;
}

dl {
  margin: 0;
}

#people_dots {
  width: 25rem;
  height: 25rem;
  /*border: solid #ef7600 2px;*/
  /*display: inline-block;*/
}

#people_dots_group {
  /*text-align: center;*/
  /*vertical-align: center;*/
  /*min-width: 30rem;*/
  /*max-width: 40rem;*/
  /*overflow-wrap: normal;*/
  /*overflow-y: visible;*/
  /*background-color: aliceblue;*/
  align-items: flex-end;
  padding-top: 0;
  margin-bottom: 1.4rem;
}


#people_count_group {

  /*text-align: center;*/
  vertical-align: top;
  display: inline-block;
  margin-bottom: .5rem;
  /*white-space: nowrap;*/
  /*width: 30rem;*/
}


#people_count{
  display: none;
}


#graph_group {
  text-align: center;
  margin-top: -5rem;
}

#center_content {
  /*max-width: 80rem;*/
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  display: block;
  max-width: 120rem;
  min-width: 90rem;
  height: 100vh;
  overflow-y: hidden;

  /*transform: scale(0.7);*/
  /*transform-origin: 0 0;*/

}

#github-badges{
  white-space: nowrap;
  display: inline-block;
  margin: 0;
  /*width: 100vw;*/
  /*text-align: right;*/
  float: right;
}

#page-heading{
  margin-top:0;
}

#optimal_container{
  width: 30rem;
  margin-top: 1rem;
}
#optimal_pool_size_label{
  /*margin-top: 1rem;*/
}

.margin-right-auto{
  margin-right: auto;
}


/* slider css  */

.number-input-box{
  font-size: larger;
  max-width: 12rem;
}

.slider-labels {
  white-space: nowrap;
  text-align: left;
  display: inline-block;
  margin-top: 1rem;
  margin-right: auto;
  /*width: 100%;*/
}

.slider-widget {
  width: 30rem;
}

.slider-group {
  margin-top: -1rem;
  /*margin-bottom: 1rem;*/
}
